In [13]:
##Connect to Mongo
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')

# Use the 'testSchema' database
db = client['testSchema']
coll = db['testTable']

In [4]:
# Insert a string into the 'testtable' collection
coll.insert_one({'Test': 'Hello, World!'})
# insert many for bigger data like JSON 
newArray = [{'Test2':'heins'},{'Ping':'Pong'}]
coll.insert_many(newArray)

In [12]:
# Find all documents in the 'names' collection where the 'name' field starts with 'heins'
results = coll.find({'Test2': {'$regex': 'heins'}})

for result in results:
  print(result)

{'_id': ObjectId('639724fa37a9290486d58e63'), 'Test2': 'heins'}

In [ ]:
## Pipeline with aggregate

# Define the pipeline for the aggregate function
pipeline = [
    #Match where the redion is East
  {'$match': {'region': 'East'}},
    # Group the documents by the 'region' field
  {'$group': {
    '_id': '$region',
    # Calculate the total 'sales' for each region
    'total_sales': {'$sum': '$sales'}
  }},
  # Sort the results by total_sales in descending order
  {'$sort': {'total_sales': -1}}
]

# Apply the aggregate function with the pipeline
results = coll.aggregate(pipeline)

# Print the results
for result in results:
  print(result)

In [ ]:
# Use the update() method to add a new item to the "items" array in the document with the ID of "123"
result = coll.update(
    {"_id": "123"},
    {"$push": {"items": "new_item"}}
)

In [ ]:
results = collection.find({"year": {"$gt": 9999}})
# Loop through the results and update each document to only include the first 4 digits of the year
for result in results:
    ##Cut off year if longer then 4 digits
    updated_year = int(str(result["year"])[:4])
    ## update collection
    collection.update_many({"_id": result["_id"]}, {"$set": {"year": updated_year}})